/*
===========
variables
===========
*/

:root {
  --clr-primary-duskBlack: hsl(338, 6%, 27%);
  --clr-primary-dullRed: hsl(0, 83%, 60%);
  --clr-primary-pureWhite: hsl(0, 83%, 100%);
  --fs-h1: 5rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.1rem;
  --fs-secondary: 0.75rem;
  --padding-h1: 0.3em 0 0 0;
  --padding-h3: 0.3em 0;
  --padding-body: 2em 0 0 0;
  --padding-container-left: 2em 0;
  --padding-container-right: 1em;
  --padding-input: 0.75em;
  --margin-input: 1.75em;
  scrollbar-color: var(--clr-primary-dullRed) var(--clr-primary-pureWhite);
  /* scrollbar customization works for me only if I place scrollbar-color inside root. FOR FIREFOX*/
}

/*
==========
general
==========
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* scrollbar customization CHROME*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--clr-primary-pureWhite);
  border-radius: 50px;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-primary-dullRed);
  border-radius: 50px;
}
/* end scrollbar customization */

body,
main,
.github__container--right,
.github__user__reputation,
.github__user--display {
  display: flex;
}

a {
  text-decoration: none;
  color: var(--clr-primary-dullRed);
  background-color: var(--clr-primary-dullRed);
  padding: 0.3em;
  color: var(--clr-primary-pureWhite);
  text-align: center;
}

a + a {
  margin-left: 0.95em;
}

body {
  min-height: 100vh;
  /* background-color: var(--clr-primary-dullRed); */
  color: var(--clr-primary-pureWhite);
  font-size: var(--fs-secondary);
  overflow-x: hidden;
}

i {
  font-size: 9rem;
  color: var(--clr-primary-dullRed);
}

input[type="text"] {
  border: none;
  width: 40%;
  padding: var(--padding-input);
  margin-top: var(--margin-input);
}

input[type="text"]:focus {
  outline: 5px solid var(--clr-primary-dullRed);
}

img {
  height: 100px;
  width: 100px;
  outline: 5px solid var(--clr-primary-duskBlack);
  border-radius: 50%;
  margin-right: 0.7em;
}

h1 {
  padding: var(--padding-h1);
  font-size: var(--fs-h1);
}

h2 {
  text-transform: uppercase;
  font-size: var(--fs-h2);
}

h3 {
  padding: var(--padding-h3);
  text-transform: uppercase;
  font-size: var(--fs-h3);
}

main {
  flex-flow: column;
  background-color: var(--clr-primary-dullRed);
}

span {
  color: var(--clr-primary-dullRed);
}

/*
==========
main container left style
==========
*/

.github__container--left {
  background-color: var(--clr-primary-duskBlack);
  text-align: center;
  padding: var(--padding-container-left);
}

/*
==========
error text style
==========
*/

.error__text {
  color: var(--clr-primary-dullRed);
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;

  margin-top: 1em;
}

/*
==========
main container right style
==========
*/

.github__container--right {
  padding: 0.5em 0.5em;
  margin-top: 2em;
}

.github__user--display {
  background-color: var(--clr-primary-duskBlack);
  width: 100%;
  padding: 1em 1em;
  border-radius: 15px;
}

.github__user__reputation {
  padding: 1.5em 0;
  justify-content: flex-start;
  color: var(--clr-primary-dullRed);
  font-weight: bold;
}

.github__user__reputation > p + p {
  margin-left: 1.1em;
}

@media screen and (min-width: 850px) {
  body {
    background-color: var(--clr-primary-duskBlack);
    align-items: center;
    justify-content: center;
  }

  img {
    align-self: center;
  }

  main {
    flex-flow: row;
    height: 90vh;
    width: 95vw;
  }

  input[type="text"] {
    width: 70%;
  }

  .github__container--left {
    width: 45%;
    height: 500px;
  }

  .github__container--right {
    width: 55%;
    margin-top: 0.5em;
  }

  .github__user--display {
    height: max-content;
    /* padding: 0 4em 0 0; */
    transform: translateY(75%);
  }
}

@media screen and (min-width: 1100px) {
  main {
    height: 85vh;
    width: 75vw;
  }
}

@media screen and (min-width: 1300px) {
  main {
    height: 85vh;
    width: 60vw;
  }

  .github__container--left {
    width: 50%;
    height: 550px;
  }
}

@media screen and (min-width: 1500px) {
  main {
    height: 80vh;
    width: 55vw;
  }

  .github__container--left {
    width: 50%;
    height: 550px;
  }
}
