/* font face file */
@font-face {
  font-family: 'pokemon_solidnormal';
  src: url('./fonts/pokemon_solid-webfont.woff2') format('woff2'),
       url('./fonts/pokemon_solid-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


//variables

$color-primary-pureWhite: hsl(0, 0%, 100%);
$color-primary-darkChocolate: hsl(27, 75%, 28%);
$color-gradient-smokeYellow: hsl(29, 65%, 67%);
$color-gradient-pastelPeach: hsl(41, 80%, 77%);
$header-padding: 2.5em;
$main-padding: 0 0 3em 0;
$h1-ff-size: clamp(50px, 5vw, 300px);
$ff-primary: "pokemon_solidnormal";


//extends

%layout-shared {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}


/*general styles */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient($color-gradient-smokeYellow 40%, $color-gradient-pastelPeach 60%);
  background-repeat: no-repeat;
  background-size: cover; //there is a problem with this !! SOLVED: main had fixed height! 
  font-family: $ff-primary;

  header {
    color: $color-primary-pureWhite;
    padding: $header-padding;

    h1 {
      text-transform: uppercase;
      font-size: $h1-ff-size;
    }
  }
}


main {
  @extend %layout-shared;
  margin: auto;
  width: 70vw;
  padding: $main-padding;

  .pokedex__card {
    height: 300px;
    width: 200px;
    background-color: grey;
    border-radius: 15px;
    margin-top: 1.5em;
    margin-left: 1.5em;
    color: $color-primary-pureWhite;

    h2 {
      text-transform: uppercase;
      font-size: 1.5rem;
    }

    p {
      font-family: monospace;
      margin-top: 0.85em;
    }
  }
}

.pokedex__card {

  @extend %layout-shared;
  flex-flow: column;

  .image__container {
    border-radius: 50%;
    background-color: $color-primary-pureWhite;
    width: 170px;
    height: 170px;
  }

  span {
    display: inline-block;
    text-align: center;
    font-size: .95rem;
    font-family: monospace;
    color: $color-primary-darkChocolate;
    border-radius: 10px;
    margin: .5em 0;
    padding: 0.3em;
    background-color: $color-gradient-pastelPeach;
  }
}


.green {
  background-color: hsl(120, 62%, 75%);
}


.red {
  background-color: hsl(0, 55%, 37%);
}

.yellow {
  background-color: hsl(46, 81%, 50%);
}