/*
===========
variables
===========
*/

:root {
  --clr-primary-electricYellow: hsl(54, 86%, 51%);
  --clr-primary-vintageGrey: hsl(270, 26%, 11%);
  --ff-primary: monospace;
  --fs-main: 1.5rem;
  --padding-container: 1.5em;
  --padding-main: 2em;
  --container-transition: 0.4s ease-in-out;
}

/*
==========
general
==========
*/

body {
  font-size: var(--fs-main);
  font-family: var(--ff-primary);
  background-color: var(--clr-primary-vintageGrey);
}

main {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: var(--padding-main);
  /* overflow-x: hidden;*/
}

/*
================
containers style
================
*/

.container {
  background-color: var(--clr-primary-electricYellow);
  padding: var(--padding-container);
  min-width: 25%;
  max-width: 50%;
  height: 150px;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(300%);
  transition: var(--container-transition);
  margin-top: 1em;
}

.container:nth-of-type(even) {
  transform: translateX(-300%);
}

.show {
  transform: translateX(0%);
}

.container:nth-of-type(even).show {
  /* target saperately beacuse it doesn't work otherwise*/
  transform: translateX(0%);
}
