@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

/*
==============
variables
==============
*/
:root {
  --clr-primary-cyberYellow: hsl(56, 86%, 46%);
  --clr-primary-duskBlack: hsl(0, 12%, 10%);
  --clr-primary-lightGrey: hsla(0, 0%, 70%, 0.678);
  --ff-primary: "Share Tech Mono", monospace;
  --fs-p: clamp(2rem, 3.5vw, 3.75rem);
  --fs-form: 1.75rem;
  --fs-label: clamp(1.25rem, 1.75vw, 2rem);
  --padding-form: 0.5em;
  --padding-main: 1em;
  --transition: 0.3s linear;
}

/*
==============
general
==============
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main,
.text__speed__container {
  display: flex;
}

body {
  height: 100vh;
  background-color: var(--clr-primary-cyberYellow);
  font-family: var(--ff-primary);
  color: var(--clr-primary-duskBlack);
  font-size: var(--fs-label);
}

main {
  height: 100vh;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-main);
}

label {
  align-self: center;
}

input {
  font-family: var(--ff-primary);
  border: none;
  padding: var(--padding-form);
  width: 30%;
}

p {
  font-size: var(--fs-p);
  text-align: center;
}

/*
==============
form - input styles
==============
*/

.text__speed__container {
  background-color: var(--clr-primary-lightGrey);
  padding: var(--padding-form);
  justify-content: center;
  position: absolute;
  bottom: 50px;
  width: clamp(200px, 20%, 300px);
}
