@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap");

@font-face {
  font-family: "mini_pixel-7regular";
  src: url("./fonts/minipixel7-6lkv-webfont.woff2") format("woff2"),
    url("./fonts/minipixel7-6lkv-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
===========
variables
===========
*/

:root {
  --clr-primary-cyberpunkPink: hsl(330, 91%, 29%);
  --clr-primary-azure: hsl(202, 89%, 39%);
  --clr-primary-darkPink: hsl(331, 87%, 27%);
  --clr-primary-duskBlack: hsl(0, 8%, 16%);
  --clr-primary-dirtyWhite: hsl(0, 15%, 88%);
  --ff-header-h1: "mini_pixel-7regular";
  --ff-primary: "IBM Plex Mono", monospace;
  --fs-heading-h1: clamp(90px, 6vw, 500px);
  --fs-heading-h2: clamp(20px, 2vh, 50px);
  --fs-paragraphs: 0.9rem;
  --padding-header: 1em;
  --padding-search-input: 1em;
  --padding-body: 3em 0;
  --padding-searc-users: 1em;
  --text-image: url("./image/screen_lornas.jpg");
  --margin-input: 3em 0;
}

/*
===============
general styles
===============
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
.search__users {
  display: flex;
}

body {
  background-color: var(--clr-primary-duskBlack);
  font-family: var(--ff-primary);
  font-size: var(--fs-paragraphs);
  color: var(--clr-primary-dirtyWhite);
  overflow: hidden;

  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;

  padding: var(--padding-body);
}

h1 {
  font-family: var(--ff-header-h1);
  font-size: var(--fs-heading-h1);

  text-transform: uppercase;
  color: var(--clr-primary-darkPink);
  /* background-image: var(--text-image);
  background-position: center center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
  text-align: center;
}

h2 {
  font-family: var(--ff-header-h1);
  font-size: var(--fs-heading-h2);
  color: var(--clr-primary-cyberpunkPink);
}

section {
  width: clamp(250px, 80%, 500px);
  margin-bottom: 3em;
}

input[type="text"] {
  border: none;
  padding: var(--padding-search-input);
  width: 100%;
  margin: var(--margin-input);
  background-color: var(--clr-primary-cyberpunkPink);
  color: var(--clr-primary-duskBlack);
  border-radius: 50px;

  font-family: inherit;
}

input[type="text"]:focus {
  outline: 4px solid var(--clr-primary-azure);
}

/*
==============
search header style
==============
*/

.search__header {
  background-color: var(--clr-primary-cyberpunkPink);
  padding: var(--padding-header);
  background-image: var(--text-image);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search__description {
  color: var(--clr-primary-dirtyWhite);
}

.search__description {
  padding-left: 0.5em;
}

/*
==============
search user container style
==============
*/

.search__users {
  display: flex;
  align-items: center;
  padding: var(--padding-searc-users);
  transition: 0.3s linear;
  /* border-bottom: 2px solid var(--clr-primary-azure); */
  /* outline: 0.5px solid var(--clr-primary-dirtyWhite); */
}

.search__users.hide {
  display: none;
}

.search__users:not(:nth-child(8)) {
  border-bottom: 2px solid var(--clr-primary-azure);
  /* }  selects last element based on their position in a group of siblings */
}

.user__name {
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.user__information {
  margin-left: 1em;
}

.user__position {
  margin-bottom: 0.5em;
}

/*
==============
user image style
==============
*/

.user__img {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  outline: 5px solid var(--clr-primary-cyberpunkPink);
}

/*
==============
search content style - user feed
==============
*/

.search__content {
  overflow-y: auto;
  background-color: var(--clr-primary-dirtyWhite);
  color: var(--clr-primary-duskBlack);
  max-height: 600px;
}

/*
==============
loading text style
==============
*/

.loading__container {
  display: none;
}

.loading__container.active {
  display: block;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  padding: 1em;
}
