/*
============
variables
============
*/

:root {
  --clr-primary-dirtyWhite: hsl(0, 6%, 87%);
  --clr-primary-duskBlack: hsl(0, 5%, 12%);
  --clr-primary-deepPurple: hsl(300, 42%, 14%);
  --clr-primary-smokeyYellow: hsl(56, 88%, 51%);
  --ff-primary: monospace;
  --fs-primary: clamp(0.8rem, 1.6vh, 1rem);
  --fs-icon: 1.5rem;
  --padding-nav: 1em;
  --padding-btn: 0.5em;
  --transition: 0.6s ease;
}

/*
===========
general styling 
===========
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  color: var(--clr-primary-duskBlack);
  background-image: linear-gradient(
    to bottom,
    var(--clr-primary-deepPurple) 0%,
    var(--clr-primary-deepPurple) 50%,
    var(--clr-primary-smokeyYellow) 50%,
    var(--clr-primary-smokeyYellow) 100%
  );
}

button {
  border: none;
  background-color: var(--clr-primary-dirtyWhite);
  width: 50px;
  height: 45px;
  padding: var(--padding-nav);
  cursor: pointer;
  position: relative;
  z-index: 2;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

li {
  list-style: none;
  transform: rotateY(0deg);
  opacity: 0;
  transition: var(--transition);
  text-transform: uppercase;
}

li:hover {
  color: var(--clr-primary-deepPurple);
  font-weight: bold;
}

li + li {
  margin-left: 1em;
}

/* 
============
nav container styles
============
*/

.main__nav__container {
  display: flex;
}

.nav__container {
  width: 0;
  height: 45px;
  padding: 1em 0; /* TRICK: remove only padding left and right*/
  display: flex;
  align-items: center;
  background-color: var(--clr-primary-dirtyWhite);

  overflow: hidden;
  transition: var(--transition);
}

/* when nav container is ACTIVE rulesets*/

.nav__container.active {
  padding: var(--padding-nav);
  width: clamp(250px, 20vw, 400px);
  transition: var(--transition);
}

.nav__container.active li {
  opacity: 1;
  transform: rotateY(360deg);
  transition: var(--transition);
}

/*
==========
x button icons styling
==========
*/
.line {
  background-color: var(--clr-primary-deepPurple);
  height: 2px;
  width: 20px;
  top: 15px;
  left: 30%;
  position: absolute;
  transition: var(--transition);
}

.line--top {
  top: auto;
  bottom: 15px;
  /* background-color: blue; */
}

/* when lines are ACTIVE rulesets*/

.line.rotate {
  bottom: 20px;
}

.line--top.rotate {
  transform: rotate(-765deg) translateY(-1.5px);
}

.line--bottom.rotate {
  /* background-color: red; */
  transform: rotate(765deg) translateX(4px) translateY(5.5px);
}
