@font-face {
  font-family: "ngc_292_halftoneregular";
  src: url("./fonts/ngc292halftone-d95mx-webfont.woff2") format("woff2"),
    url("./fonts/ngc292halftone-d95mx-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
=================
variables
=================
*/

:root {
  --clr-primary-duskBlack: hsl(248, 10%, 16%);
  --clr-primary-dawnYellow: hsl(51, 100%, 55%);
  --clr-primary-dirtyWhite: hsl(0, 1%, 83%);
  --ff-primary: "ngc_292_halftoneregular", monospace;
  --fs-main: 5rem;
}

/*
=================
general
=================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--clr-primary-dirtyWhite);
  font-size: var(--fs-main);
  font-family: var(--ff-primary);
}

main {
  background-color: var(--clr-primary-duskBlack);
  min-height: 100vh;
  display: flex;
}

/*
===============
loading container
===============
*/
.loading__container {
  background-color: var(--clr-primary-dawnYellow);
  /* animation: fade 2s linear; */
  width: 50%;
}

.loading__percentage {
  margin: auto 0 auto 0.5em;
  /* opacity will be 0 at width 100% */
}

/* @keyframes fade {
  0% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
} */
