@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

/*
============
variables
============
*/
:root {
  --clr-primary-neonGeen: hsl(135, 71%, 43%);
  --clr-primary-dirtyWhite: hsl(0, 13%, 88%);
  --clr-primary-smokeyBlack: hsl(0, 4%, 10%);
  --padding-container: 0.5em 1em;
  --padding-text: 0.5em;
  --ff-primary: "Share Tech Mono", monospace;
  --fs-key-InputText: 2rem;
  --fs-text: 1.1rem;
}

/*
===========
general styling
===========
*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-primary-smokeyBlack);
  font-family: var(--ff-primary);
  font-size: var(--fs-text);
  color: var(--clr-primary-neonGeen);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
=================
keyboard event container
=================
*/

.key__event__container {
  width: 20%;
  text-align: center;
}

.key__event__container + .key__event__container {
  margin-left: 1em;
}

.key__event__window {
  height: 60px;
  background-color: var(--clr-primary-dirtyWhite);
  outline: 3px dashed var(--clr-primary-neonGeen);
  margin-top: 0.5em;
  font-size: var(--fs-key-InputText);
  color: var(--clr-primary-smokeyBlack);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
