@font-face {
  font-family: "auto_technoregular";
  src: url("./Fonts/autotechnoregular-0vl9-webfont.woff2") format("woff2"),
    url("./Fonts/autotechnoregular-0vl9-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
============
variables
============
*/
:root {
  --clr-primary-duskyBlack: hsl(0, 2%, 25%);
  --clr-primary-bloodRed: hsl(0, 85%, 35%);
  --clr-primary-pureWhite: hsl(0, 0%, 100%);
  --ff-primary: "auto_technoregular", monospace;
  --ff-secondary: monospace;
  --fs-h1: clamp(1.75rem, 4vh, 10rem);
  --padding-article: 2em 3em;
  --padding-article-title: 0 1em 0 0;
  --padding-main: 0.5em;
  --padding-navigation: 0 0 3em 3em;

  --margin-article-content: 2em;
  --margin-aside: 2em;
  --margin-article-container: 2em;
}

/*
=============
general styles
=============
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-secondary);
  background-color: var(--clr-primary-duskyBlack);
  min-height: 100vh;
}

aside {
  margin-top: var(--margin-aside);
}

main {
  color: var(--clr-primary-duskyBlack);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: var(--ff-primary);
  font-size: var(--fs-h1);
}

hr {
  color: var(--clr-primary-bloodRed);
}

nav {
  display: flex;
  align-items: flex-end;
  padding: var(--padding-navigation);
  min-height: 100vh;
}

span {
  text-transform: uppercase;
  color: var(--clr-primary-bloodRed);
  font-weight: bold;
}

/*
==============
article image style
==============
*/
.article__img {
  width: 50%;
  overflow: hidden;
}

/*
==============
rotating menu container style
==============
*/
.rotating__menu__container {
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
  background-color: var(--clr-primary-bloodRed);
}

/*
==============
article container
==============
*/

.article__container {
  min-height: 100vh;
  padding: var(--padding-article);
  background-color: var(--clr-primary-pureWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__title__container {
  padding: var(--padding-article-title);
  align-self: flex-start;
}

.article__container--outer {
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.article__container--inner {
  width: 35%;
  margin-right: var(--margin-article-container);
}

.article__content {
  margin-top: var(--margin-article-content);
}
