/*
===============
variables
===============
*/
:root {
  --clr-primary-opaqueBlue: hsla(240, 78%, 35%, 0.466);
  --clr-primary-opaqueGrey: hsla(60, 8%, 10%, 0.671);
  --clr-primary-yellow: hsl(51, 88%, 40%);
  --clr-primary-blue: hsl(240, 73%, 25%);
  --clr-primary-white: hsl(0, 5%, 88%);
  --ff-primary: "Berkshire Swash", cursive;
  --ff-secondary: "Lato", sans-serif;
  --fs-h1: clamp(32px, 10vh, 80px);
  --fs-btn: clamp(10px, 3vh, 1.45rem);
  --padding-btn: 0.75em 1.25em;
  --padding-h1: 0.5em;
  --transition-btn: 0.3s linear;
  --transition-section-hover: 0.5s ease-in-out;
  --bg-image-one: url("./images/balurGate2.jpg");
  --bg-image-two: url("./images/baldurGate3.jpg");
}

/*
===============
general styling
===============
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-secondary);
  color: var(--clr-primary-white);
}

h1 {
  font-size: var(--fs-h1);
  padding: var(--padding-h1);
  font-family: var(--ff-primary);
}

button {
  text-transform: uppercase;
  font-size: var(--fs-btn);
  font-weight: bold;
  border: 5px solid var(--clr-primary-white);
  background-color: transparent;
  color: var(--clr-primary-white);
  align-self: center;
  padding: var(--padding-btn);
  width: 30%;
  transition: var(--transition-btn);
  font-family: var(--ff-secondary);
}

main {
  min-height: 100vh;
  display: flex;
}

/*
===============
product container styling
===============
*/
.product__container {
  width: 50%;
  transition: var(--transition-section-hover);
}

.product__one {
  background-image: var(--bg-image-one);
  background-position: center;
}

.product__two {
  background-image: var(--bg-image-two);
  background-position: center;
}

.product__one,
.product__two {
  background-repeat: no-repeat;
  background-size: cover;
}

/* class to add when hovered over certain section */
.product__container--expand {
  width: 65%;
  transition: var(--transition-section-hover);
}

.product__container--shrink {
  width: 35%;
  transition: var(--transition-section-hover);
}

/* only css partial solution*/
.product__container:hover {
  width: 100%;
  transition: var(--transition-section-hover);
}

/*
===============
sections styling
===============
*/
.product__section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.section__left {
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-opaqueGrey);
}

.section__right {
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-opaqueBlue);
}

/*
===============
buttons styling
===============
*/

.btn__left:hover {
  background-color: var(--clr-primary-yellow);
  transition: var(--transition-btn);
}

.btn__right:hover {
  background-color: var(--clr-primary-blue);
  transition: var(--transition-btn);
}
