/*
=============
variables
=============
*/
:root {
  --clr-primary-duskBlack: hsl(0, 4%, 14%);
  --clr-primary-dirtyWhite: hsl(0, 15%, 94%);
  --padding-main: 2em;
}

/*
=============
general styles
=============
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-primary-duskBlack);
}

main {
  height: 100vh;
  padding: var(--padding-main);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

/*
==============
triangles styles
==============
*/

.triangle__container {
  position: relative;
  width: 100px;
  height: 100px;
}

.triangle {
  height: 0;
  width: 0; /* setting width and height procures rather cool shades effect, skewed shapes. Try changing width to 200px :) */
  border-style: solid;
  position: absolute;
  top: 0;
  left: 0;
}

.triangle__one {
  border-width: 60px 60px 0px 60px;
  border-color: var(--clr-primary-dirtyWhite) transparent transparent
    transparent;
  animation: rotateB 2s linear infinite 0.5s;
  transform: center top translateX(0px) translateY(0px) rotate(90deg);
}

.triangle__two {
  border-width: 0px 60px 60px 60px;
  border-color: transparent transparent var(--clr-primary-dirtyWhite)
    transparent;
  animation: rotateA 2s linear infinite;
  transform: center bottom translateY(200%);
}

/* maybe we should use before and after pseudo selectors??  why is there a difference*/
@keyframes rotateA {
  0%,
  25% {
    transform: rotate(0);
  }
  50%,
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateB {
  0%,
  25% {
    transform: translateX(30px) translateY(30px) rotate(90deg);
  }
  50%,
  75% {
    transform: translateX(-30px) translateY(30px) rotate(270deg);
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(460deg);
  }
}
