/*
===========
variables
===========
*/
:root {
  --clr-primary-smokeyYellow: hsl(56, 89%, 48%);
  --clr-primary-duskBlacl: hsla(0, 13%, 9%, 0.712);
  --clr-primary-dirtyWhite: hsl(0, 5%, 85%);
  --clr-primary-neonMagenta: hsla(308, 94%, 56%, 0.363);
  --transition-img: 0.5s linear;
  --ff-primary: monospace;
  --fs-primary: 1.5rem;
  --padding-slider: 0.5em;
  --padding-btn: 0.2em;
}

/*
===========
general styles
===========
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  min-height: 100vh;
  /* background: linear-gradient(
      var(--clr-primary-neonMagenta),
      var(--clr-primary-neonMagenta)
    ),
    url("./Images/neon-city.jpg");
  the easy way of adding an overlay over an image, works only with linear-gradient. */
  background-position: center center;
  background-size: cover;
  transition: 0.5s ease-out;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* add overlay to body */
body::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--clr-primary-neonMagenta);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

button {
  background-color: var(--clr-primary-smokeyYellow);
  border: none;
  font-size: 2rem;
  padding: var(--padding-btn);
}

/*
==============
slider container styles
==============
*/
.slider__container {
  outline: 2px solid var(--clr-primary-duskBlacl);
  width: 50vw;
  height: 50vh;
  position: relative;
  overflow: hidden;
}

.slider__container--inner {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-size: cover;
  background-position: center center;
  top: -25vh;
  left: -25vw;
  transition: var(--transition-img);
  opacity: 0;
}
/* above: top and left need to be same values otherwise when changing size of browser window, the image won't sit right with the bg. */

.slider__container--inner.active {
  opacity: 1;
  /* interesting approach. Positioning all elements one on top of another and just adding opacity or removing it. */
}

/*
==============
button styles
==============
*/
.btn {
  position: fixed;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.btn--left {
  left: calc(25vw - 43px);
}

.btn--right {
  right: calc(25vw - 43px);
}
