@font-face {
  font-family: "mini_pixel-7regular";
  src: url("./fonts/minipixel7-6lkv-webfont.woff2") format("woff2"),
    url("./fonts/minipixel7-6lkv-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "vaderiiiregular";
  src: url("./fonts/vaderiii-lg4-webfont.woff2") format("woff2"),
    url("./fonts/vaderiii-lg4-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
================
variables
================
*/

:root {
  --clr--primary-smokeyBlack: hsl(0, 13%, 12%);
  --clr-primary-oldNeonGreen: hsl(98, 88%, 41%);
  --clr-primary-neonGreen: hsl(106, 80%, 51%);
  --clr-primary-dirtyWhite: hsl(0, 17%, 92%);
  --transition: 0.5s linear;
  --ff-primary: "vaderiiiregular", monospace;
  --ff-secondary: "mini_pixel-7regular", monospace;
  --fs-h1: 10vh;
  --fs-primary: 1.65rem;
  --padding-testimonial-container: 0.75em 1em;
}

/*
==============
general styles
==============
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
section,
.testimonial__content {
  display: flex;
}

body {
  background-color: var(--clr--primary-smokeyBlack);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-primary);
  color: var(--clr-primary-oldNeonGreen);
  font-family: var(--ff-secondary);
  text-transform: uppercase;
}

h1 {
  letter-spacing: 1.2rem;
  font-size: var(--fs-h1);
  text-shadow: 0 0 2px var(--clr-primary-neonGreen);
}

main {
  width: 70%;
  padding: var(--padding-testimonial-container);
}

section {
  min-height: 50vh;
  width: 50%;
}

img {
  /*images original widths and heights are causing a bit annoying shift in layout. Perhaps art direction required. */
  height: 50vh;
  min-height: 300px;
  margin-right: 1em;
  outline: 8px solid var(--clr-primary-dirtyWhite);
}

/*
=============
testimonial content styles
=============
*/

.testimonial__content--inner p {
  width: 45ch;
}

.testimonial__content {
  flex-flow: column;
  justify-content: space-between;
}

/*
=============
progress bar styles
=============
*/

.progress__bar__container {
  width: 100%;
  height: 25px;
  background-color: var(--clr-primary-dirtyWhite);
  margin-top: 0.95em;
  position: relative;
}

.overline__bar {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--clr-primary-oldNeonGreen);
  transition: var(--transition);
  transform-origin: left;
  animation: grow 10s infinite linear;
}

@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

/*
=============
pusling line style
=============
*/

.line--pulsing {
  animation: pulsing 0.9s infinite;
  opacity: 1;
}

@keyframes pulsing {
  to {
    opacity: 0;
  }
}
