@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");
/* import of google fonts must always be first to make it work! */

@font-face {
  font-family: "auto_technoregular";
  src: url("./fonts/autotechnoregular-0vl9-webfont.woff2") format("woff2"),
    url("./fonts/autotechnoregular-0vl9-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
============
variables
============
*/

:root {
  --clr-primary-smokeyBlack: hsl(0, 3%, 23%);
  --clr-primary-darkBlack: hsl(0, 3%, 12%);
  --clr-primary-bloodRed: hsl(0, 79%, 28%);
  --clr-primary-bloodRedOpaque: hsla(0, 79%, 28%, 0.918);
  --clr-primary-dirtyWhite: hsl(0, 11%, 78%);
  --clr-primary-pureWhite: hsl(0, 0%, 100%);
  --transition-square-menu: 0.5s ease;
  --transition-menu: 0.3s linear;
  --ff-primary: "auto_technoregular", monospace;
  --ff-secondary: "Share Tech", sans-serif;
  --fs-heading-h1: clamp(30px, 2.25vw, 700px);
  --fs-heading-h2: 1rem;
  --fs-navigation-links: 1rem;
  --fs-paragraphs: 1rem;
  --padding-main: 2em 0;
  --padding-article: 2em 0;
  --padding-li: 2em;
  --padding-icons: 0.3em;
  --padding-nav: 1em;
  --margin-h2: 0.5em 0 1em 0;
  --margin-a: 0.5em 0;
}

/*
==============
general styles
==============
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--fs-paragraphs);
  font-family: var(--ff-secondary);
  color: var(--clr-primary-smokeyBlack);
  background-color: var(--clr-primary-bloodRed);
  overflow-x: hidden;
}

i.bar {
  right: 15px;
  bottom: 15px;
}

i.close {
  bottom: 15px;
  left: 15px;
  transform: rotate(90deg);
}

aside {
  margin: var(--margin-h2);
}

h1 {
  font-size: var(--fs-heading-h1);
  font-family: "auto_technoregular";
}

h2 {
  font-size: var(--fs-heading-h2);
}

hr {
  color: var(--clr-primary-bloodRed);
  width: 50%;
  margin-bottom: 0.5em;
}

nav {
  width: 80%;
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: var(--clr-primary-dirtyWhite);
  background-color: var(--clr-primary-bloodRedOpaque);
  padding: var(--padding-nav);
}

ul i {
  font-size: 1.5rem;
  color: var(--clr-primary-dirtyWhite);
  margin-right: 0.3em;
}

a {
  display: block;
  text-transform: uppercase;
  list-style-type: none;
  cursor: pointer;
  font-size: 1.5rem;
}

a:hover {
  text-decoration: line-through 4px var(--clr-primary-bloodRed);
}

a + a {
  margin: var(--margin-a);
}

article {
  width: 65%;
}

/*
=============
main container style
=============
*/

main {
  background-color: var(--clr-primary-pureWhite);
  padding: var(--padding-main);

  position: relative;
  top: 0;
  min-height: 100vh;
  /* for rotate transform => transform-origin: top left; */
  display: flex;
  justify-content: center;
  align-items: center;

  transition: var(--transition-square-menu);
}

main.rotate--active {
  transform: translateX(18rem);
  transition: var(--transition-square-menu);
}

/*
=============
rotating menu square style
=============
*/

.rotating__menu--square {
  height: 100px;
  width: 100px;
  /* transform: translateX(-50%) translateY(-50%); */
  top: -50px;
  left: -50px;
  background-color: var(--clr-primary-darkBlack);
  position: fixed;
  transition: var(--transition-square-menu);
  z-index: 5;
}

.rotating__menu--square.active {
  /* transform: translateX(-50%) translateY(-50%); QUESTION => Using this, when rotating should occur, the element jumps to position top: 0 left: 0 WHY? */
  transform: rotate(-90deg);
  transition: var(--transition-square-menu);
}

.rotating__menu--square i {
  color: var(--clr-primary-dirtyWhite);
  font-size: 1.5rem;
  position: absolute;
}

/*
=============
article content style
=============
*/

.article__text--red {
  text-transform: uppercase;
  color: var(--clr-primary-bloodRed);
  font-weight: bold;
}

/*
=============
image style
=============
*/

img.img--mobile {
  position: fixed;
  top: 0;
  left: calc(-300px - 1vw);
  min-height: 100vh;
}

img.img--desktop {
  display: none;
}

/* (TABLET) */
@media screen and (min-width: 1024px) {
  /*
  =============
  general 
  =============
  */
  article {
    width: 98%;
    display: flex;
    align-items: center;
  }

  section {
    width: 40%;
  }

  /*
  =============
  image style
  =============
  */
  img.img--mobile {
    display: none;
  }

  img.img--desktop {
    display: inline;
    min-height: 100vh;
  }

  /*
  =============
  article container style
  =============
  */
}
